@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}

.heading {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
}

.heading h4 {
  font-size: 20px;
  margin: 20px;
}

hr {
  width: 80%;
  border: none;
  height: 1px;
  background-color: rgb(180, 179, 179);
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.container div {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
}

.education,
.skills {
  width: 330px;
}

.container hr {
  width: 90%;
}
